chal_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 12px 16px;
    gap: 8px;
    font-family: 'SFProDisplay-Bold';

    width: 160px;
    height: 100px;

    background: radial-gradient(32.19% 54.52% at 17.81% 54.5%, rgba(255, 148, 26, 0.4) 0%, rgba(255, 148, 26, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(100, 100, 100, 0.06) 100%);
    background-blend-mode: screen, normal;
    backdrop-filter: blur(15px);
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.select-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    appearance: none; /* Убираем стандартный вид стрелки */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007bff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}

.text-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.text-input:focus {
    border-color: #007bff;
    outline: none;
}

.textarea-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    resize: vertical; /* Разрешаем вертикальное изменение размера */
    min-height: 100px;
}

h2{
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #007AFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.challenge-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}



.challenge-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div{
    font-family: 'SFProDisplay-Bold';
}


body{
    /*background: url("/background.png");*/
    background-size:contain;
    background-position:top;
    background: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    /*background: url("/images/background.png");*/
    background-size:contain;
    background-position:top;
    background: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Минимальная высота на весь экран */
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 800px; /* Максимальная ширина контента */
    background-color: #EFEFF4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@font-face{
    font-family: 'SFProDisplay-Bold';
    src: url('./fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

